.overlaybox {
  position: relative;
  width: 68px;
  height: 55px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/box_movie.png")
    no-repeat;
  padding: 10px 0;
  box-shadow: 1px 1px 1px 1px gray;
}
.overlaybox div,
ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.overlaybox li {
  list-style: none;
}
.overlaybox .boxtitle {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  text-align: center;
}
.overlaybox ul {
  width: 68px;
  text-align: center;
}
.overlaybox li {
  position: relative;
  /* margin-bottom: 2px; */
  /* background: #2b2d36; */
  /* padding: 5px 8px; */
  color: rgb(224, 223, 223);
  line-height: 1;
}
.overlaybox li span {
  display: inline-block;
}
.overlaybox li .title {
  font-size: 11px;
}
